@import 'bootstrap/scss/bootstrap';

$nav-color: #f1e9dc;
$bg-color: #f8f2ea;
$bg-2-color: #fbf8f5;

.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.root-class {
  background-color: $bg-color;
}

.index-text {
  @extend .barlow-medium;
  font-size: 2.5rem;
  text-align: center;
}

.index-text-title {
  @extend .barlow-bold;
  font-size: 8rem;
  text-align: center;
}

.mission-container {
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $bg-2-color;
}

.value-text {
  @extend .barlow-medium;
  font-size: 2.5rem;
  align-content: end;
}

.value-text-title {
  @extend .barlow-bold;
  font-size: 8rem;
  align-content: end;
}

.value-subtext {
  @extend .barlow-regular;
  font-size: 1.25rem;
  text-align: center;
}

.director-name {
  font-size: larger;
}

.navbar {
  background-color: $nav-color;
  margin-left: -12px;
  margin-right: -12px;
}

.border-line {
  margin: 4rem 0rem 2rem;
  width: 100%;
  color: purple;
  border: 2px solid rgb(73, 1, 73);
}

.contact-img {
  position: relative;
}

.contact-img-container {
  position: relative;
  display: inline-block;
  width: 100%; // You can adjust this as needed
  max-width: 30rem; // Optional: restrict maximum width
  text-align: center;

  img {
    display: block;
    width: 100%; // Ensures the image scales with the container
    height: auto; // Maintains the aspect ratio
    position: relative;
    z-index: 1;
  }

  &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 104%; 
      height: 108%; 
      background-color: purple; 
      transform: translate(-50%, -50%) rotate(9deg); 
      z-index: 0;
      opacity: .4;
      border-radius: 5%;
  }
}

.contact-text {
  font-size: x-large;
  // text-align: center;
}
.contact-text-flair {
  text-shadow: 1px 2px 10px purple;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;

  &:hover {
    text-shadow: 1px 2px 30px purple;
  }
}

@media only screen and (max-width: 992px) {
  .index-text {
    font-size: 1.5rem;
  }

  .index-text-title {
    font-size: 4rem;
  }

  .value-container {
    margin-left: 4rem;
  }
}

.value-row {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .value-row {
    transition: opacity 2s ease, transorm 2s ease
  }
}

.value-row-transition {
  opacity: 1;
  transform: none;
}

